<head>
<meta charset="utf-8">
<script>
"use strict";


function castToObject(number) {
	if (typeof number !== 'number' || number > 999 || number < 0 || (number ^ 0) !== number) {
		console.log(number + " is not number or bad number ----" + (typeof number));
	}
	else {
		console.log(number + " is number ----" + (typeof number));

		const ed = (number - number % 100) / 100;
		const ed1 = ((number - number % 10) - (number - number % 100))/10;
		const ed2 = number % 10;

		const obj = {'единицы': ed2, 'десятки': ed1, 'сотни': ed};

		console.log(obj);
	}
	
}

castToObject(99999);
castToObject("sss");
castToObject("sss3456");
castToObject("99");
castToObject(123);
castToObject(876);
castToObject(0);
castToObject(-100);
castToObject(12.34);


</script>
</head>