<head>
<meta charset="utf-8">
<script>
"use strict";

//1) С помощью цикла while вывести все простые числа в промежутке от 0 до 100
function first() {
	let index = 0;
	let str = "";
	while (index <= 100){
		str = str + index + " ";
		index++;
	}
	alert(str);
}

first();

//2
function second() {
	let index = 0;
	let str = "";
	do {
		if (index === 0) {
			str = str + index + " – это ноль ";
		}
		else if (index % 2 === 0) {
			str = str + index + " – четное число ";
		}
		else if (index % 2 !== 0) {
			str = str + index + " – нечетное число ";
		}
		index++;
	}
	while (index <= 10);

	alert(str);
}
second();

function fird() {
	for(let index = 0; index < 10; alert(index++)) {

	}
}

fird();

</script>
</head>