<head>
<meta charset="utf-8">
<script>
"use strict";

func();
func2();
func3();

function func() {
	let temp = 100;
	let Tf = (9 / 5) * temp + 32;
	alert(Tf);
}
function func2() {
	let name = "Василий";
	let admin = name;
	alert(admin);
}
function func3() {
	let x =  1000 + "108";
	alert(x); //1000108
}

</script>
</head>