<head>
<meta charset="utf-8">
<script>
"use strict";

//1
/*
var a = 1, b = 1, c, d;
c = ++a; alert(c); // 2 ----> сначала префиксный инкремент, потом присваивание c=2, a=2 
d = b++; alert(d); // 1 ----> присваивание, затем постфиксный инкремент d=1, b=2 
c = (2+ ++a); alert(c); // 5 ---> сначала операция a=3, затем 2+3 ---операции выаолняются слева-направо
d = (2+ b++); alert(d); // 4 ----> слева-направо: сложение, затем инкеремент
alert(a); // 3
alert(b); // 3 ---> инкремент уже прозошел в d = (2+ b++);
*/


//2
/*
var a = 2;
var x = 1 + (a *= 2); ---> аналогично записи a = a*2; x = 1 + a;
---> x = 5
*/

//3
/*
Объявить две целочисленные переменные a и b и задать им произвольные начальные значения. Затем написать скрипт, который работает по следующему принципу:
* если a и b положительные, вывести их разность;
* если а и b отрицательные, вывести их произведение;
* если а и b разных знаков, вывести их сумму;
ноль можно считать положительным числом.*/

function fun3(){
	let a = 5;
	let b = 7;

	if (a >= 0 && b >= 0){
		alert(Math.abs(a - b));
	}
	else if (a < 0 && b < 0) {
		alert(a * b);
	}
	else {
		alert(a + b);
	}
}
 fun3();


//4
/*
4) Присвоить переменной а значение в промежутке [0..15]. С помощью оператора switch организовать вывод чисел от a до 15.
*/
function fun4() {
	let a = 8;
	let result = "";

	switch(a) {
		case 1: 
			result = result + 1 + "";
		case 2: 
			result = result + 2 + "";
		case 3: 
			result = result + 3 + "";
		case 4: 
			result = result + 4 + " ";
		case 5: 
			result = result + 5 + " ";	
		case 6: 
			result = result + 6 + " ";
		case 7: 
			result = result + 7 + " ";
		case 8: 
			result = result + 8 + " ";
		case 9: 
			result = result + 9 + " ";
		case 10: 
			result = result + 10 + " ";
		case 11: 
			result = result + 11 + " ";
		case 12: 
			result = result + 12 + " ";
		case 13: 
			result = result + 13 + " ";
		case 14: 
			result = result + 14 + " ";
		case 15: 
			result = result + 15 + " ";
			break;
		default:
			result = "nope";
		
	}
	alert(result);
}
fun4();

/*5) Реализовать основные 4 арифметические операции в виде функций с двумя параметрами. Обязательно использовать оператор return.*/
function sum(a, b) {
	return a + b;
}
function diff(a, b) {
	return a - b;
}
function mult(a, b) {
	return a * b;
}
function div(a, b) {
	return a / b;
}

//6
/*
6) Реализовать функцию с тремя параметрами: function mathOperation(arg1, arg2, operation), где arg1, arg2 – значения аргументов, operation – строка с названием операции. В зависимости от переданного значения операции выполнить одну из арифметических операций (использовать функции из пункта 3) и вернуть полученное значение (использовать switch).*/

function mathOperation(arg1, arg2, operation) {
	switch(operation) {
		case '+':
			return sum(arg1, arg2);
			break;
		case '-':
			return diff(arg1, arg2);
			break;
		case '*':
			return mult(arg1, arg2);
			break;
		case '/':
			return div(arg1, arg2);
			break;
		default:
			return undefined;
	}
}

alert(mathOperation(4, 6, '-'));

</script>
</head>